LANGFUSE_HOST= 
PUBLIC_KEY= 
SECRET_KEY= 

REDIS_HOST=redis
REDIS_PORT=6379
GLOBAL_START_DATE=2025-01-01
CACHE_TTL_SECONDS=60 * 60 * 24 # 24H

MAX_WORKERS=10
DJANGO_AUTH_URL=http://django:8000/api/date-token/